h1 {
  color: black;
  text-align: center;
  text-shadow: 1px 1px 2px gray, 0 0 0.005em gray;
}

h4 {
  color: black;
  text-align: center;
}

ul#links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li#links {
  float: left;
}

li#links a {
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 16px;
}

li#links a:hover {
  background-color: #525252;
}

.introduction, .donate, .feature, .petitions-intro, .petitions {
  text-align: center;
  font-family: Georgia, serif;
  color: black;
}

.form {
  text-align: center;
  overflow: auto;
  line-height: 20px;
}

#donate {
  width: 45%;
  height: 90vh;
  margin: auto;
  background-color: #dee0e3;
  border-radius: 30px;
  box-shadow: 5px 5px gray;
}

#extra-info {
  font-size: 12px;
}

ul#cities {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dee0e3;
  line-height: 15px;
  font-size: 14px;
  display: block;
  box-shadow: 4px 4px gray;
}

li#cities a {
  display: block;
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 16px;
  box-shadow: 3px 3px gray;
}

li#cities a:hover {
  background-color: #bdbebf;
  color: white;
}

#shadow {
  text-shadow: 1px 1px 2px gray, 0 0 0.005em gray;
}

#start-petition {
  width: 30%;
  height: 80vh;
  margin: auto;
  background-color: #dee0e3;
  border-radius: 30px;
  box-shadow: 5px 5px gray;
}

.aligncenter {
  text-align: center;
}

.aligncenter img {
  border-style: solid;
  border-width: 2px;
}

.feature {
  border-style: solid;
  border-width: 3px;
  background-color: #d65e5e;
  width: 75%;
  display: inline-block;
}

.references {
  text-align: center;
}

.centerfeature {
  text-align: center;
}

#whiteshadow {
  text-shadow: 2px 2px 3px white, 0 0 0.1em white;
}

.row {
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.column {
  float: left;
  display: inline-block;
}

div.middle {
  margin-left: auto;
  margin-right: auto;
  width: 25em
}
